h1{
    color: #9B7EDE;
    margin-bottom: 10px;
}
#contacto{
    background-color: #B1C48B;
    width: 350px;
    height: 290px;
    text-align: center;
    padding: 50px;
    margin-top: 50px;
    margin-left: 480px;
    margin-bottom: 100px;
    color: #4B6858;
  }
  
  #hora{
      margin-top: 10px;
      color: #571F4E;
    
  }

  #img{
      width: 25px;
      height: 25px;
      margin-top: 15px;
  }