<html>
    <head>
        <Title>Milkmocha</Title>
        <link rel="icon" type="image/png" href="Images/logo.png">
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <link href="css/styleformulario.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    </head>
    <body>
    
        <div id="appx">        
            <span v-html="HTMLcontent"></span>
        </div>
        <div class="container" id="formulario">
            <div id="app">
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <label for="" id="labels">Llena el formulario con los datos correspondientes:</label>
                        <div id="divform">
                        <input name="name" v-model="name" id="izq" type="text" required placeholder="Nombre">
                        <input name="telefono" v-model="tel" id="der" type="number" required placeholder="telefono">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div id="divform">
                            <input name="correo"v-model="correo" id="center" type="email" required placeholder="Correo">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div id="divform">
                            <label>Sabor 1</label>
                            <select v-model="sabor1x" name="sabor1" id="izq">
                                <option></option>
                                <option>Chocolate</option>
                                <option>Fresa</option>
                                <option>Vainilla</option>
                                <option>Cafe</option>
                                <option>Limon</option>
                            </select>
                            <label>Sabor 2</label>
                            <select v-model="sabor2x" name="sabor2" id="der">
                                <option></option>
                                <option>Chocolate</option>
                                <option>Fresa</option>
                                <option>Vainilla</option>
                                <option>Cafe</option>
                                <option>Limon</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div id="divform">
                            <label>Adorno 1</label>
                            <select  v-model="adorno1x" name="adorno1" id="izq">
                                <option></option>
                                <option>Fruta</option>
                                <option>Velas</option>
                                <option>Imagen</option>
                                <option>Texto</option>
                                <option>Cereales</option>
                            </select>
                            <label>Adorno 2</label>
                            <select  v-model="adorno2x"  name="adorno2" id="der" >
                                <option></option>
                                <option>Fruta</option>
                                <option>Velas</option>
                                <option>Imagen</option>
                                <option>Texto</option>
                                <option>Cereales</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div id="divform">
                            <textarea v-model="descri" name="descripcion" rows="4" cols="40">Descripción general del pastel.</textarea>
                        </div>
                    </div>
                    <button @click="persist" id="botonform">
                        Encargar Pastel
                    </button>
                </div >
            </div>
        </div>
        <script src="app.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
        <script src="appindex.js"></script>
    </body> 
    <footer id="foot">
        <p id="Footdp">Pasteleria Milkmocha S.A de C.V</p>
</footer>
</html>